---
type: "no-sidebar"
title: "alumni-membership"
htitle: "Alumni Membership"
description: "Signing up to the Alumni Network"
additional_css: ["photoswipe/photoswipe.css", "photoswipe/default-skin/default-skin.css"]
additional_js: ["photoswipe/photoswipe.min.js", "photoswipe/photoswipe-ui-default.min.js"]
---

<div class="wrapper">
    <div class="container" id="main">
        <article id="content">

            <header>
                <h2>Alumni Network Membership</h2>
                <p>
                    <i>"Connecting the Islamic Society Alumni to the current Muslim students to inspire excellence in this world and the hereafter."</i>
                </p>
            </header>

            <%= tag :img, :src => "/images/alumni/alumni-membership-pack-2.jpg", :class => "image" %>
            <h2>Membership</h2>
            <p>

                As you might have seen on the page describing the aims and objectives of the Islamic Society, the potential of this network is vast. As an alumnus from the University of Birmingham, you have the opportunity to join this network.<br>

                As part of the membership, you are required to set up a direct debit of £3 per month which will support the activities and projects of the Alumni Network.<br>

                <div class="block">
                    <b>The benefits are numerous and are as follows:</b> <br>

                    <ul>
                        <li>1. Quarterly ISOC and Alumni Network Newsletter</li>
                        <li>2. Access to a directory of influential UBISOC Alumni</li>
                        <li>3. Big Discounts at UBISOC Events and UBISOC Alumni Events</li>
                        <li>4. Dedicated team to support you organise your own reunion events with fellow alumni of your choosing</li>
                        <li>5. Opportunity to join the UBISOC Alumni focus group which will decide the direction of the Alumni Network</li>
                        <li>6. Opportunity to join the UBISOC Alumni Board of Advisors, which will advise and support the Islamic Society</li>
                        <li>7. Mentor the next generation of promising University of Birmi-ngham students to achieve their best and serve the Muslim community</li>
                    </ul>

                </div>
            </p>

            <div class="block">
                <p>
                    <b>You'll also be posted a membership pack which consists of:</b>
                    
                    <ul>
                        <li>1. Alumni Network branded mug</li>
                        <li>2. Alumni Network branded pen</li>
                        <li>3. Alumni Network branded chocolates</li>
                        <li>4. Alumni Network Booklet</li>
                        <li>5. Wudu Mate Personal</li>
                    </ul>
                </p>
            </div>

            <h2>How to sign up</h2>
            <p>
                 To sign up for membership, just fill out the following form <b>AND</b> make sure to fill in the Go Cardless form. Both links are below. Only after filling both your membership will be confirmed and your membership pack will be posted to you.
            </p>

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSewyzb4vsi2-uypjRJ4z7Dlpra0w25yTdXnwRDpvbUsrFZtDw/viewform"><section>
              <div class="container">
                <button class="entypo-right-open-big" >Alumni Network Membership Sign Up</button>  
              </div>
            </section></a>

            <%= tag :img, :src => "/images/alumni/alumni-membership-pack-3.jpg", :class => "image" %><br>

            <%= tag :img, :src => "/images/alumni/alumni-membership-pack-1.jpg", :class => "image" %><br>

            <div class="block">
                <h3>If you have any questions about the Alumni Network please email</h3>
                <ul>
                    <li>Aaquib Naved (<a href="mailto:headbrother@ubisoc.co.uk">headbrother@ubisoc.co.uk</a>)</li>
                    <li>Munibah Saleem (<a href="alumni@ubsico.co.uk">alumni@ubisoc.co.uk</a>)</li>
                </ul>
            </div>

            <%= tag :img, :src => "/images/alumni/alumni-membership-pack-5.jpg", :class => "image" %><br>

        </article>
    </div>
</div>

<!-- GALLERY -->
<div id="gallery">
	<% for i in 1..7 %>
		<%= tag :img, :src => "/images/fw-16-17/p#{i}.jpg", :"data-size" => "2048x1365" %>
	<% end %>
</div>

<link rel="stylesheet" href="/assets/css/button-style.css">

<script  src="/assets/js/button.js"></script>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
