<!DOCTYPE HTML>
<html>
	<head>
		<%= partial "head" %>
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="index.html">University of Birmingham Islamic Society</a></h1>

						<!-- Nav -->
							<%= partial "nav" %>

					</div>

					<!-- Hero -->
						<section id="hero" class="container">
							<%= partial "header" %>
						</section>

				</div>

				<!-- Content -->
				<%= yield %>

				<%= partial "footer" %>

		</div>

		<%= partial "bottom" %>

	</body>
</html>
