<!DOCTYPE html>
<html lang="en">

<head>
	<%= partial "head" %>
</head>

<body>
	<div class="page-content container">
		<%= partial "nav" %>
		<%= yield %>
		<hr>
		<%= partial "footer" %>
	</div>

	<%= partial "bottom" %>
</body>

</html>