
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<title><%= (current_page.data.htitle ? current_page.data.htitle + " | " : "") + "University Of Birmingham Islamic Society" %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= 'The University of Birmingham Islamic Society.' + (current_page.data.description ? ' ' + current_page.data.description : '') %>">
<meta name="keywords" content="University of Birmingham, Islamic Society, University of Birmingham Islamic Society, Birmingham, Guild of Students, ISOC, UBISOC">
<meta name="author" content="The University of Birmingham Islamic Society">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@UBISOC">
<meta name="twitter:title" content="<%= (current_page.data.htitle ? current_page.data.htitle + " | " : "") + "University Of Birmingham Islamic Society" %>">
<meta name="twitter:description" content="<%= 'The University of Birmingham Islamic Society.' + (current_page.data.description ? ' ' + current_page.data.description : '') %>">
<meta name="twitter:creator" content="@UBISOC">
<!-- Twitter Summary card images must be at least 120x120px -->
<meta name="twitter:image" content="http://ubisoc.co.uk/images/logo.png">

<!-- Open Graph data -->
<meta property="og:title" content="<%= (current_page.data.htitle ? current_page.data.htitle + " | " : "") + "University Of Birmingham Islamic Society" %>" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://ubisoc.co.uk/" />
<meta property="og:image" content="http://ubisoc.co.uk/images/logo.png" />
<meta property="og:description" content="<%= 'The University of Birmingham Islamic Society.' + (current_page.data.description ? ' ' + current_page.data.description : '') %>" />
<meta property="og:site_name" content="The University of Birmingham Islamic Society" />

<!--[if lte IE 8]><%= javascript_include_tag 'ie/html5shiv.js' %><![endif]-->
<%= stylesheet_link_tag 'main.css' %>
<!--[if lte IE 8]><%= stylesheet_link_tag 'ie8.css' %><![endif]-->
<!--[if lte IE 9]><%= stylesheet_link_tag 'ie9.css' %><![endif]-->
<%= stylesheet_link_tag 'custom.css' %>

<% if current_page.data.additional_css %>
  <% current_page.data.additional_css do |css| %>
    <%= stylesheet_link_tag css %>
  <% end %>
<% end %>
