
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<title><%= "University Of Birmingham Islamic Society" + (current_page.data.title ? "|" + current_page.data.title : "") %></title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="">
<meta name="author" content="University of Birmingham Islamic Society">
<!--[if lte IE 8]><%= javascript_include_tag 'ie/html5shiv.js' %><![endif]-->
<%= stylesheet_link_tag 'main.css' %>
<!--[if lte IE 8]><%= stylesheet_link_tag 'ie8.css' %><![endif]-->
<!--[if lte IE 9]><%= stylesheet_link_tag 'ie9.css' %><![endif]-->
