<nav id="nav">
	<ul>
		<li><%= link_to 'Home', '/index.html' %></li>
		<li>
			<%= link_to 'Who we are', '/who-we-are/intro-to-isoc.html' %>
			<ul>
				<li><%= link_to 'Introduction to the Islamic Society', '/who-we-are/intro-to-isoc.html' %></li>
				<li><%= link_to 'Introduction to the Committee', '/who-we-are/intro-to-committee.html' %></li>
			</ul>
		</li>
		<li>
			<a href="#">Life</a>
			<ul>
				<li><%= link_to 'Prayer room locations', '/life/prayer-room-locations.html' %></li>
				<li><%= link_to 'Prayer times', '/life/prayer-times.html' %></li>
				<li><%= link_to 'Halal places to eat on & around campus', '/life/halal-places-to-eat.html' %></li>
				<li><%= link_to 'Local mosques', '/life/local-mosques.html' %></li>
				<li><%= link_to 'Accomodation', '/life/accomodation.html' %></li>
				<li><%= link_to 'Public transport', '/life/public-transport.html' %></li>
			</ul>
		</li>
		<li>
			<a href="#">Campaigns</a>
			<ul>
				<li><%= link_to 'Freshers Week', '/campaigns/freshers-week.html' %></li>
				<li><%= link_to 'Charity Week', '/campaigns/charity-week.html' %></li>
				<li><%= link_to 'Discover Islam Week', '/campaigns/discover-islam-week.html' %></li>
			</ul>
		</li>
		<li>
			<a href="#">People</a>
			<ul>
				<li><%= link_to 'Postgraduates', '/people/postgraduates.html' %></li>
				<li><%= link_to 'Alumni', '/people/alumni.html' %></li>
			</ul>
		</li>
		<li><%= link_to 'Merchandise', '/merchandise.html' %></li>
		<li><%= link_to 'Discount card', '/discount-card.html' %></li>
		<li><%= link_to 'Our sponsors', '/sponsors.html' %></li>
	</ul>
</nav>
