<nav id="nav">
	<ul>
		<li><%= link_to 'Home', '/index.html' %></li>
		<li>
			<%= link_to 'Who we are', '/who-we-are/intro-to-isoc.html' %>
			<ul>
				<li><%= link_to 'Introduction to the Islamic Society', '/who-we-are/intro-to-isoc.html' %></li>
				<li><%= link_to 'Introduction to the Committee', '/who-we-are/intro-to-committee.html' %></li>
			</ul>
		</li>
		<li>
			<a href="#">Campus</a>
			<ul>
				<li><a href="#">Prayer room locations</a></li>
				<li><a href="#">Prayer times</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Living in Birmingham</a>
			<ul>
				<li><a href="#">Halal places to eat on campus &amp; around campus</a></li>
				<li><%= link_to 'Local mosques', '/living-in-birmingham/local-mosques.html' %></li>
				<li><a href="#">Accomodation</a></li>
				<li><a href="#">Public transport</a></li>
				<li><a href="#">Things to do &amp; see</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Campaigns</a>
			<ul>
				<li><a href="#">Freshers Week</a></li>
				<li><a href="#">Charity Week</a></li>
				<li><a href="#">Discover Islam Week</a></li>
			</ul>
		</li>
		<li>
			<a href="#">People</a>
			<ul>
				<li><a href="#">Postgraduates</a></li>
				<li><a href="#">Alumni</a></li>
			</ul>
		</li>
		<li><a href="#">Merchandise</a></li>
		<li><a href="#">Discount card</a></li>
		<li><a href="#">Our sponsors</a></li>
	</ul>
</nav>
